@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
:root{
  --white:#f7ebe2;
  --black:#000000;
  --brown:#341d08;
}


body {
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: var(--white);
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  border: 3px solid var(--brown);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 8px var(--brown);
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid var(--black);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: var(--white);
  border-radius: 5px;
}

.todo-input::placeholder {
  color: var(--brown);
  font-weight: bold;
}

.todo-btn {
  background: var(--brown);
  color: var(--white);
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--brown);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: var(--white);
  cursor: pointer;
}

.completed {
  color: var(--white);
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 